 // Base colors
 $gray: #414755;
 $bg-color: #212538;

 $black: #000;
 $dark: #202020;
 $light: #fafafa;
 $white: #fff;


 $box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

 $mobile-width: 600px;
 $tablet-width: 1160px;

 $font-family: "Roboto",
 sans-serif