@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
html {
  font-size: 100%; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: #202020;
  color: #fafafa; }

h1 {
  font-size: 36px;
  font-weight: 500; }

* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a {
  text-decoration: none;
  display: inline-flex;
  color: #fafafa; }
  a::hover, a::focus, a::active, a::visited {
    outline: none;
    text-decoration: none; }

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

input::-ms-clear {
  display: none; }

ul li {
  list-style: none; }

html {
  height: 100%; }

.container {
  background-color: #212538;
  max-width: 1360px;
  height: 100%;
  margin: auto; }

.header {
  display: flex;
  height: 250px;
  justify-content: center;
  align-items: center;
  background-color: #414755;
  font-size: 36px;
  font-weight: 500; }

.navbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  margin: 0 105px;
  background-color: #212538;
  height: 125px;
  z-index: 10; }
  .navbar__list {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 19px;
    gap: 8px; }
  .navbar__letter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 24px;
    border-radius: 4px;
    border: 1px solid #414755;
    text-align: center;
    cursor: pointer; }
    .navbar__letter.selected {
      color: #fff;
      border: 1px solid #fff;
      width: 40px;
      height: 40px; }
    .navbar__letter.visible {
      color: #202020;
      background-color: #fff;
      border: 1px solid #fff;
      width: 40px;
      height: 40px; }
    .navbar__letter:last-child {
      width: 40px; }

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.block-list {
  position: relative;
  width: min-content; }
  .block-list__fake {
    position: absolute;
    top: -125px; }
  .block-list__letter {
    position: absolute;
    top: 7px;
    left: 15px;
    font-size: 38px;
    font-weight: 500; }
  .block-list__wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 52px; }
  .block-list__devider {
    width: 1130px;
    margin: 57px auto;
    border-top: 1px solid #8c8b8b; }
  .block-list:last-child {
    margin-bottom: calc(100vh - 375px); }
    .block-list:last-child .block-list__devider {
      border: 0; }

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 250px;
  width: 524px;
  background-color: #414755;
  border-radius: 4px;
  font-size: 36px;
  font-weight: 500; }
