.block-list {
    position: relative;
    width: min-content;

    &__fake {
        position: absolute;
        top: -125px;
    }

    &__letter {
        position: absolute;
        top: 7px;
        left: 15px;
        font-size: 38px;
        font-weight: 500;
    }

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-left: 52px;

    }

    &__devider {
        width: 1130px;
        margin: 57px auto;
        border-top: 1px solid #8c8b8b;
    }

    &:last-child {
        margin-bottom: calc(100vh - 375px);

        .block-list__devider {
            border: 0
        }
    }
}