.block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 250px;
    width: 524px;
    background-color: #414755;
    border-radius: 4px;
    font-size: 36px;
    font-weight: 500;
}