.navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    margin: 0 105px;
    background-color: $bg-color;
    height: 125px;
    z-index: 10;

    &__list {
        display: flex;
        align-items: center;
        height: 100%;
        padding-left: 19px;
        gap: 8px;
    }

    &__letter {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 24px;
        border-radius: 4px;
        border: 1px solid $gray;
        text-align: center;
        cursor: pointer;

        &.selected {
            color: #fff;
            border: 1px solid #fff;
            width: 40px;
            height: 40px;
        }
    }

}